.simplelist {
  width: 750px;
  height: fit-content;
}

.simplelist .row {
  display: flex;
  align-items: start;
  gap: 0.8%;
}

.simplelist .time {
  width: 6.4%;
  min-width: 4rem;
  background-color: #007BFF;
  color: #FFF;
  text-align: center;
  border-radius: 999px;
}

.simplelist .title {
  flex: 1;
  white-space: pre-wrap;
}

.simplelist .speaker {
  width: 15%;
  min-width: 4rem;
  white-space: pre-wrap;
}